In [1]:
import pymongo

In [2]:
path=pymongo.MongoClient("mongodb://localhost:27017/")

In [3]:
database=path["Shalini"]

In [4]:
data=database['employees']

In [7]:
val=[{'id':2,'name':'Atul','job':'Engineer','salary':80000},{'id':3,'name':'Ayushi','job':'Doctor','salary':90000},{'id':4,'name':'Priya','job':'Police','salary':50000},
    {'id':5,'name':'Riya','job':'Analyst','salary':20000},{'id':6,'name':'Kirti','job':'Doctor','salary':99000},{'id':7,'name':'Radha','job':'Analyst','salary':70000},
    {'id':8,'name':'Preeti','job':'Doctor','salary':70000},{'id':9,'name':'Ram','job':'Police','salary':90000},{'id':10,'name':'Kewal','job':'Analyst','salary':50000}]

In [44]:
vale=({'id':6,'name':'Kirti','job':'Doctor','salary':99000},{'id':11,'name':'Kirti','job':'Doctor','salary':77000},
     {'id':12,'name':'Krishana','job':'Teacher','salary':30000},{'id':13,'name':'Riddhi','job':'Doctor','salary':40000},
     {'id':14,'name':'Kirti','job':'Analyst','salary':70000})

In [45]:
cake1=data.insert_many(vale)

In [46]:
for i in data.find():
    print(i)

{'_id': ObjectId('6337e161dd7e96e4a055c653'), 'id': 2, 'name': 'Atul', 'job': 'Engineer', 'salary': 80000}
{'_id': ObjectId('6337e161dd7e96e4a055c654'), 'id': 3, 'name': 'Ayushi', 'job': 'Doctor', 'salary': 90000}
{'_id': ObjectId('6337e161dd7e96e4a055c655'), 'id': 4, 'name': 'Priya', 'job': 'Police', 'salary': 50000}
{'_id': ObjectId('6337e161dd7e96e4a055c658'), 'id': 7, 'name': 'Radha', 'job': 'Analyst', 'salary': 70000}
{'_id': ObjectId('6337e161dd7e96e4a055c659'), 'id': 8, 'name': 'Preeti', 'job': 'Doctor', 'salary': 70000}
{'_id': ObjectId('6337e161dd7e96e4a055c65a'), 'id': 9, 'name': 'Ram', 'job': 'Police', 'salary': 90000}
{'_id': ObjectId('6337e161dd7e96e4a055c65b'), 'id': 10, 'name': 'Kewal', 'job': 'Analyst', 'salary': 50000}
{'_id': ObjectId('6337ea51dd7e96e4a055c65c'), 'id': 6, 'name': 'Kirti', 'job': 'Doctor', 'salary': 99000}
{'_id': ObjectId('6337ea51dd7e96e4a055c65d'), 'id': 11, 'name': 'Kirti', 'job': 'Doctor', 'salary': 77000}
{'_id': ObjectId('6337ea51dd7e96e4a055c65e'), 'id': 12, 'name': 'Krishana', 'job': 'Teacher', 'salary': 30000}
{'_id': ObjectId('6337ea51dd7e96e4a055c65f'), 'id': 13, 'name': 'Riddhi', 'job': 'Doctor', 'salary': 40000}
{'_id': ObjectId('6337ea51dd7e96e4a055c660'), 'id': 14, 'name': 'Kirti', 'job': 'Analyst', 'salary': 70000}

In [15]:
x=data.find({},{'job':'Police'})
for i in x:
    print(i)

{'_id': ObjectId('6337e161dd7e96e4a055c653'), 'job': 'Police'}
{'_id': ObjectId('6337e161dd7e96e4a055c654'), 'job': 'Police'}
{'_id': ObjectId('6337e161dd7e96e4a055c655'), 'job': 'Police'}
{'_id': ObjectId('6337e161dd7e96e4a055c656'), 'job': 'Police'}
{'_id': ObjectId('6337e161dd7e96e4a055c657'), 'job': 'Police'}
{'_id': ObjectId('6337e161dd7e96e4a055c658'), 'job': 'Police'}
{'_id': ObjectId('6337e161dd7e96e4a055c659'), 'job': 'Police'}
{'_id': ObjectId('6337e161dd7e96e4a055c65a'), 'job': 'Police'}
{'_id': ObjectId('6337e161dd7e96e4a055c65b'), 'job': 'Police'}

In [16]:
print(path.list_database_names())

['MachineLearning', 'New', 'Roots', 'Shalini', 'admin', 'config', 'know', 'local']

In [17]:
y={"job":"Police"}
q=data.find(y)
for i in q:
    print(i)

{'_id': ObjectId('6337e161dd7e96e4a055c655'), 'id': 4, 'name': 'Priya', 'job': 'Police', 'salary': 50000}
{'_id': ObjectId('6337e161dd7e96e4a055c65a'), 'id': 9, 'name': 'Ram', 'job': 'Police', 'salary': 90000}

In [28]:
import json

In [29]:
y=({"$and":[{"job":"Police"},{"salary":{"$gte":20000}}]})
q=data.find(y)
for i in q:
    print(i)

{'_id': ObjectId('6337e161dd7e96e4a055c655'), 'id': 4, 'name': 'Priya', 'job': 'Police', 'salary': 50000}
{'_id': ObjectId('6337e161dd7e96e4a055c65a'), 'id': 9, 'name': 'Ram', 'job': 'Police', 'salary': 90000}

In [53]:
#sort ascending
z=data.find().sort("name")
for i in z:
    print(i)

{'_id': ObjectId('6337e161dd7e96e4a055c653'), 'id': 2, 'name': 'Atul', 'job': 'Engineer', 'salary': 80000}
{'_id': ObjectId('6337e161dd7e96e4a055c654'), 'id': 3, 'name': 'Ayushi', 'job': 'Doctor', 'salary': 90000}
{'_id': ObjectId('6337e161dd7e96e4a055c659'), 'id': 8, 'name': 'Preeti', 'job': 'Doctor', 'salary': 70000}
{'_id': ObjectId('6337e161dd7e96e4a055c655'), 'id': 4, 'name': 'Priya', 'job': 'Police', 'salary': 5000000}
{'_id': ObjectId('6337e161dd7e96e4a055c658'), 'id': 7, 'name': 'Radha', 'job': 'Analyst', 'salary': 70000}
{'_id': ObjectId('6337e161dd7e96e4a055c65a'), 'id': 9, 'name': 'Ram', 'job': 'Police', 'salary': 90000}
{'_id': ObjectId('6337ea51dd7e96e4a055c65f'), 'id': 13, 'name': 'Riddhi', 'job': 'Doctor', 'salary': 40000}

In [42]:
#sort descending
n=data.find().sort("name",-1)
for i in n:
    print(i)

{'_id': ObjectId('6337e161dd7e96e4a055c65a'), 'id': 9, 'name': 'Ram', 'job': 'Police', 'salary': 90000}
{'_id': ObjectId('6337e161dd7e96e4a055c658'), 'id': 7, 'name': 'Radha', 'job': 'Analyst', 'salary': 70000}
{'_id': ObjectId('6337e161dd7e96e4a055c655'), 'id': 4, 'name': 'Priya', 'job': 'Police', 'salary': 50000}
{'_id': ObjectId('6337e161dd7e96e4a055c659'), 'id': 8, 'name': 'Preeti', 'job': 'Doctor', 'salary': 70000}
{'_id': ObjectId('6337e161dd7e96e4a055c65b'), 'id': 10, 'name': 'Kewal', 'job': 'Analyst', 'salary': 50000}
{'_id': ObjectId('6337e161dd7e96e4a055c654'), 'id': 3, 'name': 'Ayushi', 'job': 'Doctor', 'salary': 90000}
{'_id': ObjectId('6337e161dd7e96e4a055c653'), 'id': 2, 'name': 'Atul', 'job': 'Engineer', 'salary': 80000}

In [39]:
#delete
l={'name':'Riya'}
p=data.delete_one(l)

In [41]:
#delete
l={'name':'Kewal','name': 'Kirti'}
p=data.delete_many(l)

In [48]:
p={'name':{"$regex":"^K"}}
x=data.delete_many(p)
print(x.deleted_count,"the deleted rows")

5 the deleted rows

# how to delete the collection
data.drop()

In [52]:
ll={"salary":50000}
new_val={"$set":{"salary":5000000}}
data.update_many(ll,new_val)

In [ ]:
#core python. numpy,matplot,data preprocessing,data cleaning